.menu-responsive {
  width: 100%;
  background: transparent;
  background-size: cover;
  padding: 0;
  overflow: hidden auto;
  margin: 0;
  vertical-align: top;
  position: absolute;
  height: auto;
  max-height: 100%;
  right: -100vw;
  top: 0;
  transition: all .4s ease;
  &:after {
    content: "";
    display: table;
    clear: both;}
  .wrap{
    padding: 33px 30px 100px;
    width: 320px;
    float: right;
    background: #fff;
    min-height: 100vh;
    overflow: auto;
  }


  .close-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    i{
      font-size: 24px;
      line-height: 1;
      color: $colorTitle;
      font-weight: 500;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px;
    }
  }
  .fancybox-close-small{
    display: none;
  }

  .mob-menu-wrap{
    margin-bottom: 25px;
    &>ul.mob-menu{

      display: block;
      &>li{
        margin-bottom: 20px;
        text-align:left;
        &>a{
          color: $colorTitle;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          i{
            font-size: 16px;
            margin-left: 5px;
          }
        }
      }
      li{
        .is-open{
          i{
            transform: scale(1,-1);
          }
        }
      }

      li:last-child{
        margin-bottom: 0;
      }
      .sub-menu{
        display: none;
        padding: 20px;

        li{
          margin-bottom: 5px;
          &>a{
            color: $accent;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

      }
    }
  }
  .logo-wrap{
    width: 150px;
    margin:0 0 40px;
    img{
      vertical-align: top;
      width: 100%;
    }
  }
  .btn-list{
    margin-top: 30px;
    .link{
      color: $colorTitle;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

    }
    li{
      margin-bottom: 15px;
    }
  }
}
.is-menu .menu-responsive{
  right: 0;
}



@media (max-width:575px) {

}