.form-email{
  width: 665px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .input-wrap{
    width: 50%;
    margin-bottom: 32px;
    label{
      display: none;
    }
    input{
      width: 100%;
      background: transparent;
      border: none;
      height: 70px;
      line-height: 70px;
      color: $colorTitle;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 1px solid rgb(0, 191, 230);
      padding: 0 25px;
    }
  }
  .input-wrap-submit{
    width: 100%;
    display: flex;
    justify-content: center;
    button{
      min-width: 200px;
    }
  }
  .text-left{
    justify-content: flex-start;
  }

  .input-wrap + .input-wrap{
    position: relative;
    &:before{
      position: absolute;
      top: 24px;
      left: 0px;
      content: '@';
      color: rgb(77, 31, 31);
      font-size: 20px;
      line-height: 1;
    }
  }
  input::-webkit-input-placeholder {
    color: rgb(77, 31, 31);
  }
  input::-moz-placeholder {
    color: rgb(77, 31, 31);
  }
  input:-ms-input-placeholder {
    color: rgb(77, 31, 31);
  }
  input:-moz-placeholder {
    color: rgb(77, 31, 31);
  }
}

.calculate-form{
  .tabs-menu-form li{
    position: relative;
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
    label{
      display: block;
      padding: 0 24px;
      width: 100%;
      border-radius: 12px;
      text-align: center;
    }
    input:checked + label{
      background: $blue;
      color: #fff;
    }
  }
  .input-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  .input-wrap:last-child{
    margin-bottom: 0;
  }
  .input-number{
    display: flex;
    align-items: center;
    width: 216px;
    .btn-count{
      width: 68px;
      height: 80px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      color: $blue;
      font-size: 34px;
      line-height: 1;
      &:hover{
        color: $red;
      }
    }
    input{
      border-radius: 100%;
      border: none;
      display: flex;
      justify-content: center;
      text-align: center;
      background: $blue;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 40px;
      font-weight: 500;
      color: rgb(251, 252, 249);
    }
  }
  .total{
    width: 160px;
    padding-right: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p{
      font-size: 24px;
      font-weight: 900;
      line-height: 120%;
      color: $blue;
      font-family: $font2;
      text-align: right;
      margin: 0!important;
    }
  }
  .text{
    width: calc(100% - 160px - 216px);
    padding: 0 20px;
    p{
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2px;
      text-align: left;
      text-transform: uppercase;
      margin: 0!important;
    }
  }
  .text-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 54px 0 20px;
    p{
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2px;
      text-align: left;
      text-transform: uppercase;
      margin: 0!important;
    }
    p:last-child{
      min-width: 185px;
    }
  }
  .input-wrap-total{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .email-wrap{
    position: relative;
    width: calc(100% - 218px);
    label{
      display: none;
    }
    input{
      width: 100%;
      height: 96px;
      padding: 0 100px 0 25px;
      border: none;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2px;
      text-align: left;
      text-transform: uppercase;
      border-bottom: 2px solid rgb(0, 191, 230);
      background: transparent;
    }
    button{
      width: 90px;
      height: 96px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background: transparent;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .total-text{
    width: 195px;
    border-bottom: 2px solid rgb(0, 191, 230);
    p{
      text-align: center;
      line-height: 96px;
      font-size: 40px;
      font-weight: 900;
      color: $blue;
      font-family: $font2;
      margin: 0!important;
    }
  }
}

.form-select{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  margin: 0;
  .input-wrap{
    position: relative;
    input{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
    }
    label{
      display: block;
      height: 50px;
      line-height: 46px;
      padding: 0 30px;
      border: 2px solid transparent;
      border-radius: 24px;
      font-size: 20px;
      font-weight: 400;
      transition: all .4s ease;
    }
    input:hover + label{
      background: $blue;
      border: 2px solid $blue;
    }
    input:checked + label{
      border: 2px solid $blue;
    }
  }
}


.form-search{
  width: 100%;
  position: relative;
  margin: 0;
  label{
    display: none;
  }
  input{
    width: 100%;
    border: 2px solid $colorTitle;
    border-radius: 48px;
    background: rgb(251, 252, 249);
    height: 66px;
    line-height: 62px;
    padding: 0 16px 0 48px;
    font-size: 20px;
    font-weight: 450;

  }
  input::-webkit-input-placeholder {
    color: $colorTitle;
  }
  input::-moz-placeholder {
    color: $colorTitle;
  }
  input:-ms-input-placeholder {
    color: $colorTitle;
  }
  input:-moz-placeholder {
    color: $colorTitle;
  }
  .btn{
    position: absolute;
    height: 50px;
    top: 8px;
    left: 14px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    &:hover{
      opacity: 0.7;
    }
  }
}

.form-subscribe{
  .email-wrap{
    position: relative;
    width: 100%;
    input{
      width: 100%;
      height: 96px;
      padding: 0 100px 0 25px;
      border: none;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2px;
      text-align: left;
      text-transform: uppercase;
      border-bottom: 2px solid rgb(0, 191, 230);
      background: transparent;
    }
    label{
      width: 90px;
      height: 96px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background: transparent;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .btn-default{
    margin-top: 25px;
    min-width: 178px;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
    a{
      text-decoration: underline;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 1440px) {
  .form-subscribe .email-wrap input{
    height: 80px;
  }
  .form-subscribe .email-wrap label{
    height: 80px;
  }
}

@media (max-width: 1280px) {
  .form-subscribe .email-wrap input{
    padding: 0 50px 0 10px;
    font-size: 20px;
    height: 60px;
  }
  .form-subscribe .email-wrap label{
    height: 60px;
    width: 50px;
  }
}
@media (max-width:1199px) {
  .form-email .input-wrap input{
    padding: 0 10px;
  }
  .form-email .input-wrap + .input-wrap:before{
    left: -10px;
  }
}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:575px) {
  .form-email .input-wrap{
    width: 50%;
    border-radius: 0;
  }
  .form-email .input-wrap + .input-wrap:before{
    left: 5px;
  }
  .form-email .input-wrap + .input-wrap{
    input{
      padding-left: 25px;
    }
  }
  .form-select .input-wrap label {
    height: 40px;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 24px;
    font-size: 16px;
  }
  .form-search input{
    height: 50px;
    line-height: 46px;
  }
  .form-search .btn{
    top: 0;
  }
  .form-email .input-wrap input{
    font-size: 15px;
    padding: 0;
  }
}