<section class="blog-banner banner-h1">
  <div class="content-width">
    <div class="bg"><img src="/public/dist/images/img-35.svg" alt=""></div>
    <div class="wrap"><h1>{{  title }}</h1>
      <div class="content">
        <div class="left">
          {{ collection from="blog"  limit="1"   }}
          {{ partial src="partials/_post" class="item-big" }}
          {{ /collection }}
        </div>
        <div class="right">
          {{ collection from="blog"  limit="2" offset="1"  }}
          {{ partial src="partials/_post" }}
          {{ /collection }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <div class="bg"></div>
  <div class="content-width"><h2 class="h2">Previous Articles</h2>
    <div class="sort-list">
      <form action="#" class="form-select">
        <div class="input-wrap"><input type="checkbox" id="select-1" name="select"> <label for="select-1">View
          all</label></div>
        <div class="input-wrap"><input type="checkbox" id="select-2" name="select" checked="checked"> <label
          for="select-2">Tag 1</label></div>
        <div class="input-wrap"><input type="checkbox" id="select-3" name="select" checked="checked"> <label
          for="select-3">Tag 2</label></div>
        <div class="input-wrap"><input type="checkbox" id="select-4" name="select"> <label for="select-4">Tag
          3</label></div>
        <div class="input-wrap"><input type="checkbox" id="select-5" name="select"> <label for="select-5">Tag
          4</label></div>
        <div class="input-wrap"><input type="checkbox" id="select-6" name="select"> <label for="select-6">Tag
          5</label></div>
      </form>
      <div class="wrap-search">
        <form action="#" class="form-search"><label for="search"></label> <input type="search" id="search"
                                                                                 name="search"
                                                                                 placeholder="Search the blog">
          <button type="submit" class="btn"><img src="images/search.svg" alt=""></button>
        </form>
      </div>
    </div>
    <div class="content">
      {{ collection from="blog"  limit="9" offset="3"  }}
      {{ partial src="partials/_post" }}
      {{ /collection }}
    </div>
  </div>
</section>
