<section class="calculate">
    <div class="bg"></div>
    <div class="content-width">
        <div class="content">
            <div class="text-wrap">
                <h2 class="h2">{{ title }}</h2>

                {{ text }}

                <div class="btn-wrap">
                    <a href="{{ link_url }}" class="btn-default">{{ link_name }}</a>
                </div>
            </div>
            <div class="tabs tabs-css">
                <ul class="tabs-menu">
                    <li class="is-active">.NL</li>
                    <li>.COM</li>
                    <li>.EU</li>
                    <li>.NET</li>
                    <li>.ORG</li>
                </ul>



                <div class="tab-content">
                    <div class="tab-item tab-item-1">
                        <form action="#" class="calculate-form">
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MOVE .NL DOMAIN TO SOVERIN</p>
                                </div>
                                <div class="total">
                                    <p>€ 15,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="2" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>new .nl domAin</p>
                                </div>
                                <div class="total">
                                    <p>€ 30,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MAilboxes</p>
                                </div>
                                <div class="total">
                                    <p>€ 60,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>25  GB Space</p>
                                </div>
                                <div class="total">
                                    <p>€ xx,xx</p>
                                </div>
                            </div>
                            <div class="text-info">
                                <p>send my calculations</p>
                                <p>TOTAL PRICE</p>
                            </div>
                            <div class="input-wrap-total">
                                <div class="email-wrap">
                                    <label for="email-1"></label>
                                    <input type="email" name="email-1" id="email-1" placeholder="EMAIL">
                                    <button type="submit" class="btn">
                                        <img src="images/icon-6.svg" alt="">
                                    </button>
                                </div>
                                <div class="total-text">
                                    <p>€ 95,00</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-item tab-item-2">
                        <form action="#" class="calculate-form">
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>2MOVE .NL DOMAIN TO SOVERIN</p>
                                </div>
                                <div class="total">
                                    <p>€ 15,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="2" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>new .nl domAin</p>
                                </div>
                                <div class="total">
                                    <p>€ 30,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MAilboxes</p>
                                </div>
                                <div class="total">
                                    <p>€ 60,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>25  GB Space</p>
                                </div>
                                <div class="total">
                                    <p>€ xx,xx</p>
                                </div>
                            </div>
                            <div class="text-info">
                                <p>send my calculations</p>
                                <p>TOTAL PRICE</p>
                            </div>
                            <div class="input-wrap-total">
                                <div class="email-wrap">
                                    <label for="email-2"></label>
                                    <input type="email" name="email-2" id="email-2" placeholder="EMAIL">
                                    <button type="submit" class="btn">
                                        <img src="images/icon-6.svg" alt="">
                                    </button>
                                </div>
                                <div class="total-text">
                                    <p>€ 95,00</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-item tab-item-3">
                        <form action="#" class="calculate-form">
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>3MOVE .NL DOMAIN TO SOVERIN</p>
                                </div>
                                <div class="total">
                                    <p>€ 15,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>new .nl domAin</p>
                                </div>
                                <div class="total">
                                    <p>€ 30,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MAilboxes</p>
                                </div>
                                <div class="total">
                                    <p>€ 60,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>25  GB Space</p>
                                </div>
                                <div class="total">
                                    <p>€ xx,xx</p>
                                </div>
                            </div>
                            <div class="text-info">
                                <p>send my calculations</p>
                                <p>TOTAL PRICE</p>
                            </div>
                            <div class="input-wrap-total">
                                <div class="email-wrap">
                                    <label for="email-3"></label>
                                    <input type="email" name="email-3" id="email-3" placeholder="EMAIL">
                                    <button type="submit" class="btn">
                                        <img src="images/icon-6.svg" alt="">
                                    </button>
                                </div>
                                <div class="total-text">
                                    <p>€ 95,00</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-item tab-item-4">
                        <form action="#" class="calculate-form">
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>4MOVE .NL DOMAIN TO SOVERIN</p>
                                </div>
                                <div class="total">
                                    <p>€ 15,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="2" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>new .nl domAin</p>
                                </div>
                                <div class="total">
                                    <p>€ 30,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MAilboxes</p>
                                </div>
                                <div class="total">
                                    <p>€ 60,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>25  GB Space</p>
                                </div>
                                <div class="total">
                                    <p>€ xx,xx</p>
                                </div>
                            </div>
                            <div class="text-info">
                                <p>send my calculations</p>
                                <p>TOTAL PRICE</p>
                            </div>
                            <div class="input-wrap-total">
                                <div class="email-wrap">
                                    <label for="email-4"></label>
                                    <input type="email" name="email-4" id="email-4" placeholder="EMAIL">
                                    <button type="submit" class="btn">
                                        <img src="images/icon-6.svg" alt="">
                                    </button>
                                </div>
                                <div class="total-text">
                                    <p>€ 95,00</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-item tab-item-5">
                        <form action="#" class="calculate-form">
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-plus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-minus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>5MOVE .NL DOMAIN TO SOVERIN</p>
                                </div>
                                <div class="total">
                                    <p>€ 15,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-plus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="2" class="form-control"/>
                                    <div class="btn-count btn-count-minus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>new .nl domAin</p>
                                </div>
                                <div class="total">
                                    <p>€ 30,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-plus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-minus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>MAilboxes</p>
                                </div>
                                <div class="total">
                                    <p>€ 60,00</p>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-number ">
                                    <div class="btn-count btn-count-plus"><i class="fa fa-minus"></i></div>
                                    <input type="text" name="count" value="1" class="form-control"/>
                                    <div class="btn-count btn-count-minus"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="text">
                                    <p>25  GB Space</p>
                                </div>
                                <div class="total">
                                    <p>€ xx,xx</p>
                                </div>
                            </div>
                            <div class="text-info">
                                <p>send my calculations</p>
                                <p>TOTAL PRICE</p>
                            </div>
                            <div class="input-wrap-total">
                                <div class="email-wrap">
                                    <label for="email-5"></label>
                                    <input type="email" name="email-5" id="email-5" placeholder="EMAIL">
                                    <button type="submit" class="btn">
                                        <img src="images/icon-6.svg" alt="">
                                    </button>
                                </div>
                                <div class="total-text">
                                    <p>€ 95,00</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>