<section class="calculate">
    <div class="bg"></div>
    <div class="content-width">
        <div class="content">
            <div class="text-wrap">
                <h2 class="h2">{{ title }}</h2>

                {{ text }}

                <div class="btn-wrap">
                    <a href="{{ link_url }}" class="btn-default">{{ link_name }}</a>
                </div>
            </div>
            {{ form:calculator class="calculate-form" }}
                <div class="tabs-css">
                    {{ if success }}
                        <div class="bg-green-300 text-white p-2">
                            {{ success }}
                        </div>
                    {{ else }}

                        {{ if errors }}
                            <div class="bg-red-300 text-white p-2">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}
                        <ul class="tabs-menu-form">
                            <li>
                                <input type="radio" value=".NL" name="radio_field" id="radio-1" data-domen="13" checked>
                                <label for="radio-1">.NL</label>
                            </li>
                            <li>
                                <input type="radio" value=".COM" name="radio_field" id="radio-2" data-domen="18" >
                                <label for="radio-2">.COM</label>
                            </li>
                            <li>
                                <input type="radio" value=".EU" name="radio_field" id="radio-3" data-domen="13" >
                                <label for="radio-3">.EU</label>
                            </li>
                            <li>
                                <input type="radio" value=".NET" name="radio_field" id="radio-4" data-domen="18" >
                                <label for="radio-4">.NET</label>
                            </li>
                            <li>
                                <input type="radio" value=".ORG" name="radio_field" id="radio-5" data-domen="23" >
                                <label for="radio-5">.ORG</label>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-item tab-item-1">

                                <div class="input-wrap wrap-domen" data-price="13">
                                    <div class="input-number">
                                        <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                        <input type="text" name="count" value="1" class="form-control quantity"/>
                                        <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <div class="text">
                                        <p>{{ trans:strings.move}} <span class="dmn">.NL</span> {{ trans:strings.dts}}</p>
                                    </div>
                                    <div class="total">
                                        <p>€ 13,00</p>
                                    </div>
                                    <input type="hidden" value="1" name="count_move_domain_to_soverin" class="quantity_counts">
                                </div>
                                <div class="input-wrap wrap-domen" data-price="13">
                                    <div class="input-number">
                                        <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                        <input type="text" name="count" value="1" class="form-control quantity"/>
                                        <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <div class="text">
                                        <p>{{ trans:strings.new}} <span class="dmn">.nl</span> {{ trans:strings.dom}}</p>
                                    </div>
                                    <div class="total">
                                        <p>€ 13,00</p>
                                    </div>
                                    <input type="hidden" value="1" name="count_new_domain" class="quantity_counts">
                                </div>
                                <div class="input-wrap" data-price="10">
                                    <div class="input-number">
                                        <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                        <input type="text" name="count" value="1" class="form-control quantity"/>
                                        <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <div class="text">
                                        <p>{{ trans:strings.mailboxes}}</p>
                                    </div>
                                    <div class="total">
                                        <p>€ 10,00</p>
                                    </div>
                                    <input type="hidden" value="1" name="count_mailboxes" class="quantity_counts">
                                </div>
                                <div class="input-wrap" data-price="29">
                                    <div class="input-number">
                                        <div class="btn-count btn-count-minus"><i class="fa fa-minus"></i></div>
                                        <input type="text" name="count" value="1" class="form-control quantity"/>
                                        <div class="btn-count btn-count-plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <div class="text">
                                        <p>{{ trans:strings.space}}</p>
                                    </div>
                                    <div class="total">
                                        <p>€ 29,00</p>
                                    </div>
                                    <input type="hidden" value="1" name="count_25_gb_space" class="quantity_counts">
                                </div>
                                <div class="text-info">
                                    <p>{{ trans:strings.send}}</p>
                                    <p>{{ trans:strings.total}}</p>
                                </div>
                                <div class="input-wrap-total">
                                    <div class="email-wrap">
                                        <label for="email"></label>
                                        <input type="email" name="email" id="email" placeholder="EMAIL" required>
                                        <button type="submit" class="btn">
                                            <img src="public/dist/images/icon-6.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="total-text">
                                        <p>€ 65,00</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <input type="hidden" name="total_price" id="total_price" value="€ 65,00">
                    {{ /if}}
                </div>
            {{ /form:calculator }}
        </div>
    </div>
</section>