<div class="bg-blue-wrap brt-48">
  <section class="email-solution email-solution-2">
    <div class="bg">
      <img src="{{ background:url }}" alt="">
    </div>
    <div class="content-width">
      <figure>
        <img src="{{ image:url }}" alt="">
      </figure>
      <div class="text">
        <div class="title">
          <h2 class="h2">{{ title }}</h2>
          <p>{{ description }} </p>
        </div>

        {{ if solutions }}
          <ol>
            {{ solutions }}
            <li>
              <h6>{{ title }}</h6>
              <p>{{ text }}</p>
            </li>
            {{ /solutions }}

          </ol>
        {{ /if }}

      </div>
    </div>
  </section>

  <section class="item-3x">
    <div class="content-width">
      <h2 class="h2">{{ title_benefits }}</h2>
      <div class="content">
        {{ benefits_list }}
        <div class="item">
          <a href="{{ link_field }}">
            <h3 class="h3">{{ title_benefits }}</h3>
            <p>{{ description_benefits }}</p>
          </a>
        </div>
        {{ /benefits_list }}
      </div>

      {{ if button:url || button:title }}
      <div class="btn-wrap">
        <a href="{{ button:url }}" class="btn-border"><span>{{ button:title }}</span></a>
      </div>
      {{ /if}}
    </div>
  </section>
</div>