<section class="item-2x">
  <div class="content-width">
    <div class="content">
      {{  features }}
        <div class="item item-{{  index+1 }}">
          <figure><a href="#">
            <img src="{{ image:url }}" alt=""></a>
          </figure>
          <div class="text">
            <h2 class="h2">
              <a href="#">{{ title }}</a></h2>
            <h6 class="text-up">{{ subtitle }}</h6>
            <p>{{ text }}</p></div>
        </div>
      {{  /features }}
    </div>
  </div>
</section>
