<section class="home-banner">
  <div class="bg"></div>
  <div class="content-width">
    <div class="content">
      <figure><img src="/public/dist/images/logo-red.svg" alt=""></figure>
      <h1>{{ title }}</h1>
      <h6 class="text-up">{{ subtitle }} {{ link }}</h6>
      <div class="btn-wrap"><a href="#" class="btn-border"><span>Get started</span></a></div>
    </div>
  </div>
  <div class="scroll"><a href="#s1"><img src="/public/dist/images/icon-2.svg" alt="">Scroll to Learn More</a></div>
</section>
