<section class="email-solution-item-3x" id="s1">
  <div class="content-width">
    <div class="content">
      <div class="text">
        <h2 class="h2">{{ title }}</h2>
        {{ text }}
      </div>
      <figure>
        <img src="{{ image:url }}" alt="">
      </figure>
    </div>
    <div class="item-3x">
      <h2 class="h2">{{ title_benefits }}</h2>
      {{ benefits_list }}
      <div class="item">
        <a href="{{ link:url }}">
          <h3 class="h3">{{ title }}</h3>
          <p>{{ text }}</p>
        </a>
      </div>
      {{ /benefits_list }}
    </div>
  </div>
</section>