<section class="img-text img-up">
  <div class="content-width">
    <div class="content">
      <figure>
        <img src="{{ image:url }}" alt="">
      </figure>
      <div class="text">
        <h2 class="h2">{{ title }}</h2>
        {{ if list }}
          <ul class="list-icon">
            {{ list }}
              <li>
                <img src="public/dist/images/icon-5.svg" alt="">
                {{ item }}
              </li>
            {{ /list }}
          </ul>
        {{ /if }}
      </div>
    </div>
  </div>
</section>