<section class="questions">

  <div class="content-width">
    <div class="bg">
      <img src="{{ image:url }}" alt="">
    </div>
    <div class="content">
      <h2 class="h2">{{ title }}</h2>
      <p>{{ text }}</p>
      <div class="btn-wrap">
        <a href="{{ link_1_url }}" class="btn-default">{{ link_1_name }}</a>
        <a href="{{ link_2_url }}" class="btn-default bg-blue">{{ link_2_name }}</a>
      </div>
    </div>
  </div>
</section>

{{ if image_right}}
  <section class="img-big-wrap">
    <div class="content-width">
      <img src="{{ image_right:url }}" alt="">
    </div>
  </section>
{{ /if }}