<div class="bg-white-blue">
    <section class="text-img">
        <div class="content-width">
            <div class="text">
                <h2 class="h2">{{ title }}</h2>
                {{ description }}
            </div>
            <figure>
                <img src="{{  image:url }}" alt="">
            </figure>
        </div>
    </section>

    <section class="item-3x">
        <div class="content-width">
            <h2 class="h2">Benefits of trusting Soverin</h2>
            <div class="content">
                <div class="item">
                    <a href="#">
                        <h3 class="h3">Cost<br>
                            Savings</h3>
                        <p>Avoid the expense of building
                            and maintaining your own email infrastructure.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <h3 class="h3">Expertise and experience</h3>
                        <p>Rely on our years of experience
                            to provide a reliable, white-label email hosting service that works.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <h3 class="h3">Focus on you
                            core business</h3>
                        <p>Let us handle the complexities
                            of email, you can focus on what
                            you do best.</p>
                    </a>
                </div>
            </div>
            <div class="btn-wrap">
                <a href="#" class="btn-border"><span>Learn more</span></a>
            </div>
        </div>
    </section>
</div>