<div class="bg-white-blue">
    <section class="text-img">
        <div class="content-width">
            <div class="text">
                <h2 class="h2">{{ title }}</h2>
                {{ description }}
            </div>
            <figure>
                <img src="{{ image:url }}" alt="">
            </figure>
        </div>
    </section>

    {{ if default_benefits}}

        {{ partial:benefits}}

    {{ else }}

        <section class="item-3x">
            <div class="content-width">
                <h2 class="h2">{{ title_benefits }}</h2>
                <div class="content">
                    {{ benefits_list }}
                    <div class="item">
                        <a href="{{ link_field }}">
                            <h3 class="h3">{{ title_benefits }}</h3>
                            <p>{{ description_benefits }}</p>
                        </a>
                    </div>
                    {{ /benefits_list }}
                </div>

                {{ if button:url || button:title }}
                    <div class="btn-wrap">
                        <a href="{{ button:url }}" class="btn-border"><span>{{ button:title }}</span></a>
                    </div>
                {{ /if}}
            </div>
        </section>

    {{ /if }}
</div>