$accent: #2B3244;
$red: rgb(255, 92, 77);
$yellow: rgb(255, 232, 140);
$colorTitle: rgb(77, 31, 31);
$blue: rgb(0, 191, 230);
$lightBlue: rgb(196, 245, 245);
$white:rgb(251, 252, 249);




$font: 'Futura PT', sans-serif;
$font2: 'Publico', sans-serif;
