

{{ form:cta_form id="formCta"  class="form-email" }}
  {{ if success }}
    <div class="bg-green-300 text-white p-2">
      {{ success }}
    </div>
  {{ else }}

    {{ if errors }}
      <div class="bg-red-300 text-white p-2">
        {{ errors }}
        {{ value }}<br>
        {{ /errors }}
      </div>
    {{ /if }}


    {{ fields }}
    <div class="input-wrap">
      <label for="{{  handle }}"></label>
      {{ field }}
    </div>
    {{ /fields }}


    <div class="input-wrap-submit {{  !left ?? 'text-left' }}">
      <button type="submit" class="btn-default {{  left ?? 'bg-blue' }}">Claim it</button>
    </div>

  {{ /if }}
  <div class="submitResult"></div>

{{ /form:cta_form }}
