

{{ form:cta_form   class="form-email  formCta " }}
  {{ if success }}
    <div class="bg-green-300 text-white p-2">
      {{ success }}
    </div>
  {{ else }}

    {{ if errors }}
      <div class="bg-red-300 text-white p-2">
        {{ errors }}
        {{ value }}<br>
        {{ /errors }}
      </div>
    {{ /if }}


    {{ fields }}
    <div class="input-wrap">
      <label for="{{  handle }}"></label>
      {{ field }}
    </div>
    {{ /fields }}


    <div class="input-wrap-submit {{  !left ?? 'text-left' }}">
      <button type="submit" class="btn-border {{  left ?? 'bg-blue' }}">
        <span>{{ trans:strings.claim}}</span></button>
    </div>

  {{ /if }}
  <div class="submitResult" style="display:none" data-success="{{ options:submission_succecfull }}" data-err="{{ options:submission_error }}"></div>

{{ /form:cta_form }}
