<footer class="footer">
  <div class="bg">
    <img src="/public/dist/images/big-logo-footer.png" alt="" class="img img-1"> <img src="images/after-1.png" alt=""
                                                                                       class="img img-2"></div>
  <div class="content-width">
    <div class="logo-wrap">
      <div class="logo"><a href="#">
        <img src="{{ options:logo:0:url }}" alt=""></a></div>
      <p>{{ options:text_footer }}</p>
      <ul class="soc">
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="#"><i class="fa-light fa-envelope"></i></a></li>
      </ul>
    </div>
    <nav class="footer-menu-wrap">
      <div class="item item-1"><h5>Solutions</h5>
        <div class="mob"><h6><a href="#">For Business</a></h6>
          <ul class="border-list">
            {{ nav handle="footer_solutions" }}
              <li><a href="{{ url }}" >{{ title }}</a></li>
            {{ /nav }}
          </ul>
          <h6>For Consumers</h6></div>
      </div>
      <div class="item item-2"><h5><a href="#">About</a></h5>
        <div class="mob">
          <ul>
            <li><a href="#">Team</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
      </div>
      <div class="item item-3"><h5><a href="#">Resources</a></h5>
        <div class="mob">
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Support</a></li>
          </ul>
        </div>
      </div>
      <div class="item item-4"><h5><a href="#">Product</a></h5>
        <div class="mob">
          <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Technical specs</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
      <div class="item item-5"><h5><a href="#">Language</a></h5>
        <div class="mob">
          <ul>
            {{ locales }}
              <li><a href="{{ permalink }}">View in {{ locale:name }}</a></li>
            {{ /locales }}

            <li><a href="#"><img src="/public/dist/images/flag-1.png" alt="">Nederlands</a></li>
            <li><a href="#"><img src="/public/dist/images/flag-2.png" alt="">English</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="bottom">
    <div class="content-width">
      <ul>
        <li><p>{{ date | format('Y')}} Soverin B. V.All rights reserved.</p></li>
        <li><a href=" /privacy">Privacy Policy</a></li>
        <li><a href=/general-terms-and-conditions>Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
