<footer class="footer">
  <div class="bg">
    <img src="/public/dist/images/big-logo-footer.png" alt="" class="img img-1"> <img src="/public/dist/images/after-1.png" alt="" class="img img-2"></div>
  <div class="content-width">
    <div class="logo-wrap">
      <div class="logo"><a href="/">
        <img src="{{ options:footer_logo:url }}" alt=""></a></div>
      <p>{{ options:text_footer }}</p>

      {{ if options:social }}
        <ul class="soc">
          {{ options:social }}
            <li><a href="{{ link:url }}" target="_blank"><i class="{{ fontawesom_class }}"></i></a></li>
          {{ /options:social }}
        </ul>
      {{ /if }}
    </div>
    <nav class="footer-menu-wrap">
      <div class="item item-1"><h5>{{ options:title_menu_1 }}</h5>
        <div class="mob">
          <h6><a href="#">For Business</a></h6>
          <ul class="border-list">
            {{ nav handle="footer_solutions" }}
              <li><a href="{{ url }}" >{{ title }}</a></li>
            {{ /nav }}
          </ul>
          <h6><a href="">For Consumers</a></h6>
        </div>
      </div>
      <div class="item item-2"><h5>{{ options:title_menu_2 }}</h5>
        <div class="mob">
          <ul>
            {{ nav handle="footer_about" }}
              <li><a href="{{ url }}" >{{ title }}</a></li>
            {{ /nav }}
          </ul>
        </div>
      </div>
      <div class="item item-3"><h5>{{ options:title_menu_3 }}</h5>
        <div class="mob">
          <ul>
            {{ nav handle="footer_resources" }}
              <li><a href="{{ url }}" >{{ title }}</a></li>
            {{ /nav }}
          </ul>
        </div>
      </div>
      <div class="item item-4"><h5>{{ options:title_menu_4 }}</h5>
        <div class="mob">
          <ul>
            {{ nav handle="footer_product" }}
              <li><a href="{{ url }}" >{{ title }}</a></li>
            {{ /nav }}
          </ul>
        </div>
      </div>
      <div class="item item-5"><h5>{{ options:title_languages }}</h5>
        <div class="mob">
          <ul>
            {{ locales }}
              <li><a href="{{ permalink }}"><img src="/public/dist/images/{{ locale:name }}.png" alt="">{{ locale:name }}</a></li>
            {{ /locales }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="bottom">
    <div class="content-width">
      <ul>
        <li><p>{{ date | format('Y')}}  Soverin B. V.All rights reserved.</p></li>
        <li><a href=" /privacy">{{ trans:strings.policy}}</a></li>
        <li><a href=/general-terms-and-conditions>Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
