<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title ?? site:name }}</title>


    <link rel="stylesheet" href="/public/build/assets/css/normalize.css">
    <link rel="stylesheet" href="/public/build/assets/css/font.css">
    <link rel="stylesheet" href="/public/build/assets/fonts/FA5PRO-master/css/all.css">
    <link rel="stylesheet" href="/public/build/assets/css/styles.css">
    <link rel="stylesheet" href="/public/build/assets/css/responsive.css">

</head>
<body>


{{ partial:header }}

<main>

    {{ template_content }}
    
</main>


{{ partial:footer }}






 

<script src="/public/build/assets/js/jquery.min.js"></script>
<script src="/public/build/assets/js/fixto.min.js"></script>
<script src="/public/build/assets/js/script.js"></script>

</body>
</html>




