.banner-help{
  padding: 80px 0 80px;
  .content{
    position: relative;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg{
    border-radius: 24px;
    background: rgb(196, 245, 245);
    img{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  h1{
    color: rgb(77, 31, 31);

    font-size: 100px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin-bottom:30px;
  }
  p{
    color: rgb(77, 31, 31);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.banner-help .wrap{
  padding: 20px 15px;
}

.faq-banner{
  padding: 100px 0 80px;
  margin-bottom: 40px;
  .text{
    margin: 100px auto 0;
    width: 760px;
    max-width: 100%;
    p{
      font-size: 20px;
      font-weight: 300;
      line-height: 120%;
      text-align: center;
      text-transform: inherit;
      letter-spacing: 0.5px;
    }
  }
  .wrap{
    width: 550px;
    max-width: 100%;
  }
  .content{
    height: 390px;
  }
}

.privacy-banner{
  padding-top: 100px;
  h1{
    font-size: 56px;
    font-weight: 900;
    line-height: 135%;
    margin-bottom: 10px;
  }
  .content{
    height: 315px;
  }
}

@media (max-width: 1440px) {
  .banner-help h1{
    font-size: 80px;
  }
  .banner-help p, .account .title p{
    font-size: 22px;
  }
  .banner-help .bg img{
    width: 350px;
  }
}

@media (max-width: 1280px) {

}
@media (max-width:1199px) {
  .banner-help .bg img{
    width: 250px;
  }
  .banner-help .content{
    height: auto;
    min-height: 250px;
  }
  .banner-help h1, .privacy-banner h1{
    font-size: 60px;
    margin-bottom: 15px;
  }
  .banner-help p, .account .title p{
    font-size: 20px;
  }
}

@media (max-width:991px) {
  .banner-help .bg img {
    width: 150px;
  }
  .banner-help{
    padding: 50px 0 20px;
  }
  .faq-banner .text{
    margin-top: 30px;
  }
}

@media (max-width:767px) {
  .banner-help .bg img {
    width: 100px;
  }
  .privacy-banner h1{
    font-size: 40px;
  }
}

@media (max-width:575px) {
  .banner-help p, .account .title p {
    font-size: 18px;
  }
}