header{
  position: relative;
  z-index: 999;
}
.top-line{
  padding: 18px 0 16px;
  border-bottom: 1px solid rgb(0, 191, 230);
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo-wrap{
    width: 120px;
    position: relative;
    top: 3px;
    img{
      width: 100%;
    }
  }
  .top-menu-wrap{
    width: calc(100% - 193px);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before{
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 1px;
      background: rgb(77, 31, 31);
      height: 32px;
      margin-top: -16px;
    }
  }
  .btn-list{
    display: flex;
    align-items: center;
    grid-gap: 30px;
    .link{
      color: rgb(77, 31, 31);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0;
      &:hover{
        opacity: 0.7;
      }
    }
  }

}
.top-menu{
  display: flex;
  grid-gap: 30px;
  padding-left: 33px;
  a{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: rgb(77, 31, 31);
    position: relative;
    z-index: 3;
    i{
      font-size: 13px;
      transition: all .4s ease;
      padding-left: 15px;
      line-height: 1;
    }
    &:hover{
      i{
        transform: scale(1,-1);
      }
    }
  }
  li{
    position: relative;
    &:after{
      position: absolute;
      top: 99%;
      left: 0;
      width: 100%;
      content: '';
      height: 16px;
    }
    &:hover{
      .sub-menu{
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
      }
      a{
        i{
          transform: scale(1,-1);
        }
      }
    }
  }
  .sub-menu{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 10px);
    left: -18px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    min-width: 105px;
    li{
      a{
        display: block;
        width: 100%;
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 40px;
        outline: none;
        padding-left: 16px;
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
        &:hover{
         color: $red;
        }
      }
    }
    li:first-child{
      a{
        b{
          font-weight: 600;
          display: block;
          line-height: 40px;
          border-bottom: 1px solid $colorTitle;
        }
      }
    }
    li:last-child{
      b{
        font-weight: 600;
        display: block;
        line-height: 40px;
        border-top: 1px solid $colorTitle;
      }
    }
  }
}

.open-menu{
  display: none;
}

@media (max-width: 1199px){
  .top-menu{
    display: none;
  }
  .top-line .btn-list{
    display: none;
  }
  .open-menu{
    margin:12px 0 0 30px;
    display: inline-block;
    a{
      display: flex;
      flex-direction: column;
      width: 28px;
      height: 28px;
      span{
        display: block;
        width: 100%;
        height: 2px;
        background: rgb(77, 31, 31);
      }
      span + span{
        margin-top: 6px;
      }
    }
  }
  .top-line .top-menu-wrap:before{
    display: none;
  }
  .top-line .top-menu-wrap{
    justify-content: flex-end;
  }
}