.item-3x-animations{
  padding: 50px 0 0;
  overflow: hidden;
  .h2{
    text-align: center;
    margin-bottom: 46px;
    color: $colorTitle;
    line-height: 135%;
  }
  .btn-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
    a{
      min-width: 196px;
    }
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    grid-gap: 24px;
  }
  .item{
    width: calc(33.33% - 16px);
    height: 241px;
    .hover{
      position: relative;
      top: 190px;
      transition: all .4s ease;
    }
    &:hover{
      .hover{
        top: 0;
      }
    }
    .h3{
      text-align: center;
      transition: all .4s ease;
      margin-bottom: 23px;
      color: $red;
    }
    p{
      transition: all .4s ease;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0;
    }
  }
  .bg-item{
    border: 2px solid rgb(196, 245, 245);
    background: rgb(251, 252, 249);
    border-radius: 10px;
    transform: rotate(5.00deg);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: -45px;
    border-left-color: $blue;
    border-bottom-color: $blue;
  }
  .wrap{
    position: relative;
    z-index: 3;
    padding: 24px;
  }
  .item-2{
    .bg-item{
      transform: none;
    }
  }
  .item-3{
    .bg-item{
      transform: rotate(-5.00deg);
    }
  }
}
@media (max-width: 1440px) {

}

@media (max-width: 1280px) {

}
@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:575px) {

}