.bg-title-text{
  padding: 92px 0 100px;
  .content{
    text-align: center;
    border-radius: 24px;
    padding: 82px 50px 104px;
    background: $yellow;
    width: 1185px;
    margin: auto;
    max-width: 100%;
  }
  .h2{
    color: $colorTitle;
    margin-bottom: 22px;
    line-height: 135%;
  }
  .btn-wrap{
    margin-top: 48px;
    text-align: center;
    a{
      min-width: 196px;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.5px;
    a{
      font-weight: 400;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.bg-title-text-white{
  .content{
    background: #fff;
    width: 100%;
    padding-bottom: 80px;
  }
  p{
    padding: 0 8%;
  }
}
@media (max-width: 1440px) {

}

@media (max-width: 1280px) {

}
@media (max-width:1199px) {

}

@media (max-width:991px) {
  .bg-title-text{
    padding: 70px 0;
  }
}

@media (max-width:767px) {
  .bg-title-text .content{
    padding: 50px 20px 30px;
  }
}

@media (max-width:575px) {

}