.free-email-table{
  background: #fff;
  position: relative;
  border-radius: 48px 48px 0 0;
  margin-top: -40px;
  padding: 0 0 100px;
  .title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
  }
  .title-wrap{
    width: 43%;
    padding-top: 123px;
  }
  figure{
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .h2{
    text-align: left;
    margin-bottom: 22px;
    line-height: 135%;
  }
  p{
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.5px;
  }
}
.table{
  border: 1px solid rgb(224, 226, 231);
  border-radius: 8px;
  box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);
}
.table-row{
  display: flex;
  justify-content: space-between;
  .data{
    width: 33.33%;
    text-align: center;
    padding: 5px 5px;
    height: 80px;
    color: rgb(0, 23, 19);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    border-bottom: 1px solid rgb(196, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.table-row:last-child{
  border-bottom: 0;
}
.table-head{
  background: rgba(255, 187, 153, 0.2);
  .data{
    color: $colorTitle;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.5px;
    height: 65px;
  }
  .data-3{
    color: $red;
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1280px) {

}
@media (max-width:1199px) {
  .table-head .data{
    font-size: 20px;
  }
  .table-row .data{
    img{
      width: 50px;
    }
  }
}

@media (max-width:991px) {
  .table-row .data{
    font-size: 16px;
  }
}

@media (max-width:767px) {
  .free-email-table .title-wrap{
    width: 100%;
    padding-top: 75px;
    margin-bottom: 30px;
  }
  .free-email-table figure{
    width: 100%;
  }
}

@media (max-width:575px) {
  .table-row .data img {
    width: 30px;
  }
}